@charset "utf-8";
/* CSS Document */

body{
	overflow-x:hidden;
	background-image:url(gallery/cat1/Sport_Classic_Car.jpg);
	background-size:cover;
	}
  #panel{
	 width:240px;
	 padding-left:60px;
	 overflow:hidden;
	 position:absolute;
	 top:0;
	 left:-300px;
	 z-index:3;	
	 background-image:url(../../assets/icons/mochaGrunge.png);
	 background-repeat:repeat;
	
	 }
   #announcementDiv{
	   height:0px;
	   overflow:hidden;
	   }
   #titleInput{
	    width:200px;
		display:block;
	   }
   textarea{
	    border:0;
		height:100px;
		width:200px;
	   }
   .button {
	width:70px;
	margin:7px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 38px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}
.button:active {
	position:relative;
	top:1px;
}